.body{
  margin: 0px;
}

#background {
  background: url("/images/first.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  
} 
 
 .main {
    margin-left: 250px; 
    padding: 0px 10px;
}


/* Chat box */
.chat-body{
  z-index: 2;
  width: 500px;
  min-width: 390px;
  height: 500px;
  background-color:  rgba(52, 73, 94, 0.7);
  border-radius: 0px;
  padding: 25px;
  margin: 0 auto;
  top: 25px;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
}

.chat-composer{
  display: table-cell;
  vertical-align: bottom;
  height: 25px;
  
}

.btn-ye{
  background-color: #FFC107;
}

.chat-style {
  display: flex;
  width: 500px;
  min-width: 390px;
  margin: 0 auto;
}

.chat-style input {
  flex: 1 auto;
}

.chat-style button {
  border-radius: 0;
}

/*Chat bubbles*/


.chat-bubble {
  width: 80%;
  padding: 15px;
  margin: 5px 10px 0; 
  border-radius: 10px;
  color: #fff;
  font-size: 18px:
}

.guest .chat-bubble {
  background: #DCDFE6;
  color: #000;
}

.admin .chat-bubble {
  background: #0076FF;
  margin-left: auto;
  
}

/*Sidebar*/


*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.fa-times{
  right: 10px;
  top: 10px;
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  color: white;
  transition: all 0.2s ease-in-out;
}

.sidebar_menu{
  position: fixed;
  width: 250px;
  margin-left: 0px;
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  background-color: rgba(17,17,17,0.9);
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.navigation_item a:link{
  color: #1ddced;
}

.navigation_item a:visited { 
  color: #ccc; 
}

.navigation_item a:hover{
  color: #FFC107;
}

.active {
  font-weight: bold;
  text-transform: uppercase;
  
}

.opacity_one{
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.boxed_item{
  font-family: 'Open Sans';
  font-weight: 200;
  padding: 10px 20px;
  display: inline-block;
  border: solid 2px white;
  box-sizing: border-box;
  font-size: 22px;
  color: white;
  text-align: center;
  margin-top: 70px;
}


.logo_title{
  color: white;
  font-family: 'Open Sans';
  font-weight: 200;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
}

.menu_close{
  color: #D8D8D8;
  position: absolute;
  right: 8px;
  opacity: 0.7;
  top: 6px;
  font-size: 1.1em;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.navigation_section{
  margin: 20px 0;
  display: block;
  width: 200px;
  margin-left: 25px;
}

.navigation_item{
  font-weight: 200;
  font-family: 'Open Sans';
  color: white;
  padding: 12px 0px;
  box-sizing: border-box; 
  font-size: 14px;
  color: #D8D8D8;
  border-bottom: solid 1px #D8D8D8;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}


.boxed_item_smaller{
  font-size: 12px;
  color: #D8D8D8;
  width: 200px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-width: 1px;
  margin: 0 0 20px 0;
}

